<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Neutral News</title>
  <!-- CSS  -->
  {% load static from staticfiles %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'news/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'news/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'news/images/favicon.ico' %}"/>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'news/js/materialize.js' %}"></script>
  <script src="{% static 'news/js/init.js' %}"></script>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic|Cinzel+Decorative' rel='stylesheet' type='text/css'>
  <title>Neutral News</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>

  <div class="head">
    <div class="headerobjectswrapper">
      <header>
        <a href="{% url 'index' %}">
          <font color="#002868">N</font><font color="#132562">e</font><font color="#26225D">u</font><font color="#391F57">t</font><font color="#4C1C52">r</font><font color="#60194C">a</font><font color="#731646">l</font>
          <font color="#861341">N</font><font color="#99103B">e</font><font color="#AC0D36">w</font><font color="#BF0A30">S</font>
        </a>
      </header>
    </div>
    <div class="subhead">A nearly unbiased newspaper</div>
  </div>
  <div class="head topbar">
    <h4>
      <a href="{% url 'about' %}">About</a>  |  Popular  |  Categories  | Search
    </h4>
  </div>
