{% extends 'news/base.html' %}
{% load static from staticfiles %}


{% block content %}

<title> Neutral News </title>
<div class="content">
  <div class="collumns">
    {% include page_template %}

    {% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'news/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true, paginateOnScrollMargin: 750});</script>
    {% endblock %}
  </div>
</div>

{% endblock %}
