<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Neutral News</title>
    <!-- CSS  -->
    {% load static from staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'news/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'news/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'news/images/favicon.ico' %}"/>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'news/js/materialize.js' %}"></script>
    <script src="{% static 'news/js/init.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic|Cinzel+Decorative' rel='stylesheet' type='text/css'>
    <title>Neutral News</title>
    <meta name="viewport" content="width=device-width">
</head>

<script>
$(document).ready(function(){
    $("#liberalText").hide();
    $("#conservativeText").hide();
    $('a[href="#justfacts"]').click(function(){
        $("#conservativeText").hide();
        $("#liberalText").hide();
    });
    $('a[href="#conservative"]').click(function(){
        $("#conservativeText").show();
        $("#liberalText").hide();
    });
    $('a[href="#liberal"]').click(function(){
        $("#liberalText").show();
        $("#conservativeText").hide();
    });
    $('.button-collapse').sideNav();
});
</script>
<div class="head">
    <div class="headerobjectswrapper">
        <header><a href="{% url 'index' %}">N e u t r a l N e w S</a></header>
    </div>

    <div class="subhead">A nearly unbiased newspaper</div>
</div>

<div class="container-fluid">
    <h2>{{ article.title_text }}</h2>
    <img src="{{ article.image.url }}" style='width:100%;' border="0" alt="Null">
    <div class="chip">
      <font color="#BF0A30">
        <b>
        {{ article.conservative_author }}
      </b>
      </font>
    </div>
    <div class="chip">
      <font color="#002868">
        <b>
        {{ article.liberal_author }}
      </b>
      </font>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="nav nav-pills">
                <li class="tab col s4"><a href="#justfacts" class="active grey-text">Just the Facts</a></li>
                <li class="tab col s4"><a href="#conservative"class="red-text">Conservative Commentary</a></li>
                <li class="tab col s4"><a href="#liberal" class="indigo-text">Liberal Commentary</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="well">
        <a id="truthText" class="col s12 black-text">{{ article.truth | safe }}</a>
        <a id="conservativeText" class="col s12 materialize-red-text">{{ article.conservative_opinion | safe }}</a>
        <a id="liberalText" class="col s12 indigo-text"> {{ article.liberal_opinion | safe }} </a>
    </div>
</div>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'news/js/materialize.js' %}"></script>
<script src="{% static 'news/js/init.js' %}"></script>
</body>
</html>
